@media (min-width: 1024px) {
	.nav {
		.nav-bar {
			padding: 1.25em 6em;
		}
	}

	.main {
		.emotions {
			.container {
				.title-box {
					padding-bottom: 60px;
				}
			}
		}

		.section-portfolio {
			.container {
				.slider {
					margin: 0 auto;
					width: 800px;
				}

				.gallery {
					margin: 0 auto;
					max-width: var(--max-width);

					.gallery-img {
						padding-top: 10px;
					}

					.gallery-img:nth-child(even) {
						padding-left: 10px;
					}
				}
			}
		}

		.for-you {
			.container {
				.img-box {
					.frame-img {
						width: 100%;
						.img {
							background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_1/l5akom3v/element_131/sesja-malrzenskja.jpg');
						}
					}

					.area-text {
						width: 85%;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		.nav-bar {
			padding: 1.25em 0;
			max-width: var(--max-width);
		}
	}

	.main {
		.emotions {
			.container {
				.title-box {
					padding-bottom: 80px;
				}

				.img-box {
					max-width: var(--max-width);
					.frame-img {
						width: 771px;
						height: 514px;
					}

					.area-text {
						padding-top: 40px;
						width: 549px;
						height: 403px;

						.title {
							font-size: 4rem;
						}

						.text {
							font-size: 1.8rem;
						}
					}
				}
			}
		}

		.second-hero {
			margin-bottom: -10vh;
			height: 65vh;
		}

		.for-you {
			.container {
				max-width: 90%;
				.img-box {
					display: flex;

					max-width: 1350px;
					.frame-img {
						margin: 0;
					}

					.area-text {
						position: absolute;
						width: 671px;
						height: 470px;
					}
				}
			}
		}

		.section-portfolio {
			.container {
				.popup {
					backdrop-filter: blur(10px);
					.popup-img {
						max-width: 1050px;
					}
				}
			}
		}
	}

	.footer {
		.container {
			max-width: var(--max-width);
			.medium {
				display: none;
			}

			.large {
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin: 0;

				.img,
				.social-box {
					transform: translateX(-50%);
				}

				.social-box {
					.ig {
						margin: 0 20px;
					}
				}

				.text-box {
					text-align: left;
				}
			}
		}
	}
}
