@media (min-width: 768px) {
	.nav {
		.nav-bar {
			.img-box {
				.link {
					.img {
						width: 193px;
						height: 56px;
					}
				}
			}

			.mobile-btn {
				display: none;
			}

			.desktop {
				display: flex;
			}
		}

		.mobile-dropdown {
			display: none;
		}
	}

	.main {
		.emotions {
			.container {
				margin: 0 auto;
				.title-box {
					padding-bottom: 40px;
					.section-title {
						font-size: 4.8rem;
					}
				}
				.img-box {
					position: relative;
					display: flex;
					align-items: center;
					margin: 0 auto;
					max-width: 790px;

					.frame-img {
						position: relative;
						width: 440px;
						height: 415px;
					}

					.area-text {
						position: absolute;
						right: 0;
						width: 415px;
						height: 343px;
						text-align: left;
						// z-index: 20;

						.btn {
							max-width: 216px;
						}
					}
				}
			}
		}

		.second-hero {
			margin-bottom: -15vh;
			height: 55vh;
		}

		.section-portfolio {
			.container {
				.title-box {
					padding-bottom: 40px;
					.section-title {
						padding-top: 15px;
						font-size: 4.8rem;
					}
				}
				.slider {
					.btn {
						padding: 1em 1.2em;
					}
				}

				.popup {
					.close-popup {
						top: 90px;
						padding: 5px 25px;
					}

					.btn {
						padding: 1em 1.2em;
					}
				}
			}
		}

		.for-you {
			.container {
				.img-box {
					display: block;
					.frame-img {
						margin: 0 auto;
						width: 95%;

						.img {
							width: 100%;
						}
					}

					.area-text {
						position: relative;
						width: 80%;
						height: 419px;
						text-align: center;

						.text {
							padding-bottom: 40px;
						}

						.btn {
							margin: 0 auto;
							max-width: 210px;
						}
					}
				}
			}
		}

		.parallax-hero {
			display: none;
		}

		.medium-hero {
			display: block;
			background-attachment: fixed;
		}
	}

	.portfolio-main {
		padding-top: 100px;
		.portfolio-container {
			max-width: 770px;
			margin: 0 auto;
			.container-box {
				display: grid;
				grid-template-columns: 1fr 1fr;
				gap: 10px;

				.imgs-box {
					max-width: 380px;
					max-height: 458px;
				}
			}
		}
	}

	.price-main {
		padding-top: 140px;
		.container {
			.center-box {
				.title-box {
					.title {
						font-size: 3.4rem;
					}
				}
				.text-box-title {
					max-width: 748px;
				}
				.price-box {
					padding-top: 30px;
					max-width: 577px;

					.price-title {
						font-size: 3.4rem;
					}
				}
			}
		}
		.price-banner {
			margin-top: 30px;
			height: 386px;
		}
	}

	.contact-main {
		.conatiner {
			.center-box {
				.form-container {
					max-width: 548px;
					translate: 0 55px;
				}
			}
		}

		.contact-banner {
			height: 352px;
		}
	}

	.footer {
		.container {
			max-width: 768px;
			.small {
				display: none;
			}

			.medium {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 80px;

				.mini-container {
					.img {
						width: 178px;
						height: 50px;
					}

					.social-box {
						padding-bottom: 0;
						margin-bottom: 0;
						.ig {
							margin: 0 20px;
						}
					}
				}

				.text-box {
					margin-bottom: 0;
					text-align: left;
				}
			}
		}
	}
}
