@media (min-width: 375px) {
	.footer {
		.container {
			padding-left: 0px;
			padding-right: 0px;
			width: 90%;
		}
	}
}
@media (min-width: 414px) {
	.footer {
		.container {
			padding-bottom: 40px;
		}
	}
}
