@import 'animation';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--black: #000;
	--light-black: #333;
	--mini-text-color: #757575;
	--main-color: #ebebeb;
	--lexen-font: 'Lexend Deca', sans-serif;
	--open-font: 'Open Sans', sans-serif;
	--max-width: 1200px;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--open-font);
	background-color: #333;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.body-hidden {
	overflow: hidden;
}

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 -5px 15px -2px var(--black);
	z-index: 100;

	.nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		padding: 1.25em 1.7em 1.25em 0.7em;
		.img-box {
			.link {
				display: block;
				.img {
					width: 125px;
					height: 35px;
				}
			}
		}

		.burger-btn {
			position: relative;
			width: 38px;
			height: 29px;
			background: none;
			border: none;
			z-index: 100;
			cursor: pointer;

			.bar {
				width: 100%;
				height: 5px;
				background-color: var(--black);
				border-radius: 10px;
			}

			.bar::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: var(--black);
				border-radius: 10px;
				content: '';
			}
			.bar::after {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 5px;
				background-color: var(--black);
				border-radius: 10px;
				content: '';
			}
		}

		ul {
			display: none;
			align-items: center;
			list-style: none;
			.items {
				padding: 10px 15px;
				font-size: 2rem;

				a {
					text-decoration: none;
					color: var(--light-black);
					transition: color 0.3s;
				}

				a:hover {
					color: var(--black);
				}
			}
		}
	}

	.dropdown {
		height: 0;
		background-color: #fff;
		transition: height 0.5s;
		overflow: hidden;

		ul {
			font-family: var(--lexen-font);

			.item {
				padding: 10px 20px;
				font-size: 2rem;
				width: 100%;
				text-align: center;

				a {
					text-decoration: none;
					color: var(--light-black);
				}

				a:hover {
					color: var(--black);
				}
			}
		}
	}

	.active {
		height: 180px;
	}
}

.main {
	overflow: hidden;
	.hero-img {
		position: relative;
		width: 100vw;
		height: 100vh;
		background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_1/l5akom3v/element_151/fotograf-wroclaw-krzyki-slub-sesja.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: scroll;

		.icon {
			position: fixed;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 55px;
			height: 63px;
			color: #d3d3d3;
			animation: animationArrow 0.7s forwards ease-in;
		}

		.show-arrow {
			display: block;
		}
		.hide-arrow {
			display: none;
		}
	}

	.hero-img::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0 0 0 / 4%);
		z-index: 1;
		content: '';
	}

	.emotions {
		position: relative;
		padding: 20px 0 150px;
		background-color: #ebebeb;
		z-index: 20;
		.container {
			max-width: var(--max-width);
			.title-box {
				padding-bottom: 25px;
				.section-title {
					padding: 10px 4px 0;
					font-size: 3rem;
					font-weight: 300;
					text-align: center;
					color: var(--light-black);
					font-family: var(--lexen-font);
				}
			}

			.img-box {
				.frame-img {
					height: 194px;
					width: 100vw;
					overflow: hidden;
					.img {
						width: 100%;
						height: 100%;
						background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_1/l5akom3v/element_10/wroclaw-najlepszy-fotograf.jpg');
						background-position: center;
						background-size: cover;
					}
				}

				.area-text {
					position: relative;
					margin: -60px auto;
					padding: 15px 30px 40px;
					width: 285px;
					background-color: #fff;
					text-align: center;
					box-shadow: 0px 0px 19px -7px #000;
					z-index: 20;

					.title {
						padding-bottom: 25px;
						font-size: 3rem;
						font-family: var(--lexen-font);
						font-weight: 300;
					}

					.text {
						font-size: 1.5rem;
						font-family: var(--open-font);
						font-weight: 400;
						line-height: 28px;
						padding-bottom: 30px;
					}

					.btn {
						display: flex;
						justify-content: center;
						align-items: center;
						padding: 10px;
						width: 100%;
						font-family: var(--lexen-font);
						font-weight: 300;
						font-size: 2.2rem;
						background-color: var(--black);
						border: none;
						color: #fff;
						transition: 0.3s;
						cursor: pointer;

						.icon {
							margin-right: 10px;
						}
					}

					.btn:hover {
						background-color: var(--light-black);
					}
				}
			}
		}
	}

	.second-hero,
	.third-hero {
		position: relative;
		margin-bottom: -10vh;
		height: 70vh;
		width: 100vw;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}

	.second-hero {
		background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_1/l5akom3v/element_101/zdjecia-fotograf-wroclaw-studio.jpg');
	}

	.third-hero {
		background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_1/l5akom3v/element_97/sesje-wroclaw-pro.jpg');
	}

	.second-hero::before,
	.third-hero::before {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.02);
		content: '';
	}

	.third-hero::before {
		background-color: rgba(0, 0, 0, 0.06);
	}

	.section-portfolio {
		position: relative;
		padding-bottom: 60px;
		background-color: #fff;
		z-index: 20;
		.container {
			.title-box {
				padding-top: 15px;
				padding-bottom: 25px;
				.section-title {
					padding: 10px 4px 0;
					font-size: 3rem;
					font-weight: 300;
					text-align: center;
					color: var(--light-black);
					font-family: var(--lexen-font);
				}
			}

			.slider {
				// display: none;
				position: relative;
				// height: 100%;
				width: 100%;
				overflow: hidden;
				animation: showGalleryAndCarousel 0.3s forwards;

				.slider-box {
					display: flex;
					transform: translateX(0);
					transition: transform 0.5s;

					.slider-img {
						width: 100%;
						object-fit: cover;
					}
				}

				.btn {
					position: absolute;
					top: 50%;
					padding: 0.5em 0.8em;
					font-size: 2rem;
					transform: translateY(-50%);
					background-color: rgba(0, 0, 0, 0.3);
					color: #fff;
					border: none;
					cursor: pointer;

					span {
						display: block;
						transition: transform 0.3s;
					}

					span:hover {
						transform: scale(0.7);
					}
				}

				.btn-left {
					left: 0;
				}

				.btn-right {
					right: 0;
				}
			}

			.gallery {
				display: none;
				grid-template-columns: 1fr 1fr;
				.gallery-img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					cursor: pointer;
				}
			}

			.popup {
				position: fixed;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100vw;
				height: 100vh;
				animation: showGalleryAndCarousel 0.3s forwards;
				backdrop-filter: blur(5px);
				background-color: rgb(0, 0, 0, 0.4);
				z-index: 200;

				.close-popup {
					position: absolute;
					top: 70px;
					right: 5px;
					padding: 0 20px;
					font-size: 4rem;
					font-family: var(--lexen-font);
					color: #fff;
					opacity: 0.7;
					background: none;
					border: none;
					cursor: pointer;
					// z-index: 300;
				}

				.btn {
					position: absolute;
					top: 50%;
					padding: 0.5em 0.8em;
					font-size: 2rem;
					transform: translateY(-50%);
					background-color: rgba(0, 0, 0, 0.3);
					color: #fff;
					border: none;
					cursor: pointer;

					span {
						display: block;
						transition: transform 0.3s;
					}

					span:hover {
						transform: scale(0.7);
					}
				}

				.popup-arrow-left {
					left: 0;
				}

				.popup-arrow-right {
					right: 0;
				}

				.popup-img {
					width: 100%;
					max-width: 904px;
					animation: showGalleryAndCarousel 0.3s forwards;
				}
			}

			.popup-hidden {
				display: none;
			}

			.popup-fade-out {
				animation: fadeOut 0.3s forwards;
			}

			.btn-box {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 50px;
				width: 100%;

				.show-all {
					padding: 20px;
					font-size: 2.2rem;
					font-family: var(--lexen-font);
					background-color: var(--black);
					color: #fff;
					border: none;
					border-radius: 5px;
					transition: background-color 0.3s;
					cursor: pointer;
				}

				.show-all:hover {
					background-color: var(--light-black);
				}
			}

			.show-gallery {
				display: grid;
				animation: showGalleryAndCarousel 0.3s forwards;
			}
			.hide-carousel {
				display: none;
			}
		}
	}

	.for-you {
		.container {
			.img-box {
				.frame-img {
					.img {
						background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_1/l5akom3v/element_131/sesja-malrzenskja.jpg');
					}
				}

				.area-text {
					padding-top: 30px;
					box-shadow: 0px 0px 19px -7px #000;
					.title {
						font-size: 3rem;
					}

					.text {
						font-size: 1.8rem;
						line-height: 28px;
					}

					.btn {
						padding: 15px;
					}
				}
			}
		}
	}

	.medium-hero {
		display: none;
	}
}

.portfolio-main {
	padding-top: 63px;
	padding-bottom: 60px;
	background-color: var(--main-color);
	.portfolio-container {
		padding-bottom: 60px;

		.title-box {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100px;
			width: 100%;

			.title {
				font-size: 3rem;
				font-family: var(--lexen-font);
				font-weight: 300;
				color: var(--light-black);
			}
		}
		.container-box {
			.imgs-box {
				margin: 0 auto;
				margin-bottom: 45px;
				// width: 100%;
				width: 100%;
				height: 100%;
				max-width: 320px;
				max-height: 368px;
				.img-frame {
					margin: 0 auto;
					padding: 20px;
					height: 100%;

					background-color: #fff;

					.img-link {
						display: block;
						// width: 280px;
						width: 100%;
						height: 220px;
						overflow: hidden;

						.img {
							width: 100%;
							height: 100%;
							background-position: center;
							background-size: cover;
							background-repeat: no-repeat;
							transition: transform 0.3s;
						}

						.img-one {
							background-image: url('https://szablon2.lewdesign.pl/lib/jzq006/unsplash-image-k95cs77i.jpg');
						}

						.img-two {
							background-image: url('https://szablon2.lewdesign.pl/lib/jzq006/unsplash-image-k95cxfso.jpg');
						}

						.img-three {
							background-image: url('https://szablon2.lewdesign.pl/lib/jzq006/unsplash-image-k95d831h.jpg');
						}

						.img-four {
							background-image: url('https://szablon2.lewdesign.pl/lib/jzq006/unsplash-image-k95dd6z5.jpg');
						}

						.img:hover {
							transform: scale(1.3);
						}
					}

					.text-box {
						.mini-text,
						.link-text {
							padding: 20px 10px 5px;
							font-weight: 400;
						}
						.link-text {
							display: block;
							font-size: 2.5rem;
							font-family: var(--lexen-font);
							color: var(--light-black);
							text-decoration: none;
						}

						.mini-text {
							font-family: var(--open-font);
							font-size: 2rem;
							color: var(--mini-text-color);
						}
					}
				}
			}
			.imgs-box:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.price-main {
	padding-top: 100px;
	// padding-bottom: 60px;
	background-color: var(--main-color);

	.container {
		text-align: center;

		.center-box {
			padding: 0 10px;
			.title-box {
				.title {
					font-size: 3rem;
					font-family: var(--lexen-font);
					font-weight: 300;
					color: var(--light-black);
				}
			}

			.text-box-title {
				margin: 0 auto;
				padding: 40px 0;
				max-width: 290px;
				color: var(--light-black);
				.text {
					font-size: 1.8rem;
					font-family: var(--open-font);
					line-height: 28px;

					span {
						font-family: var(--lexen-font);
						font-weight: bold;
					}
				}
			}

			.price-box {
				margin: 0 auto;
				max-width: 250px;
				.price-title {
					font-size: 3rem;
					font-family: var(--lexen-font);
					font-weight: 300;
					color: var(--light-black);
				}

				.text-box {
					padding: 40px 0;
					.text {
						font-size: 1.8rem;
						line-height: 28px;
						font-family: var(--open-font);
					}
				}
			}
		}
	}
	.price-banner {
		// margin: 15px 0;
		margin-top: 15px;
		width: 100%;
		height: 287px;
		.banner {
			width: 100%;
			height: 100%;
			background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_5/l5akolj9/element_78/slub-wroclaw-fotograf.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.contact-main {
	padding-top: 100px;
	background-color: var(--main-color);

	.conatiner {
		.center-box {
			.social-box {
				text-align: center;
				.title-box {
					.title {
						font-size: 4rem;
						font-family: var(--lexen-font);
						color: var(--light-black);
						font-weight: 300;
						line-height: 48px;
					}
				}

				.socials {
					padding-top: 20px;
					.text-box {
						.text {
							font-size: 1.8rem;
							line-height: 28px;
						}
					}

					.socials-box {
						margin-top: 30px;
						.social-links {
							display: inline-flex;
							justify-content: center;
							align-items: center;
							width: 30px;
							height: 30px;
							color: #fafafa;
							background-color: var(--light-black);
							border-radius: 50%;
						}

						.ig {
							margin: 0 10px;
						}
					}
				}
			}

			.form {
				margin: 0 auto;
				margin-top: 30px;
				padding: 15px;
				width: 310px;
				background-color: #fff;
				// border-radius: 24px;
				.contact-box {
					display: flex;
					flex-direction: column;

					label {
						padding-bottom: 10px;
						font-size: 1.8rem;
						font-family: var(--open-font);
					}

					input,
					textarea {
						padding: 5px;
						font-size: 1.8rem;
						font-family: var(--open-font);
						border-radius: 2px solid hsl(0, 0%, 67%);
					}

					textarea {
						resize: vertical;
						min-height: 150px;
						// max-height: 500px;
					}
				}
			}
		}
	}
	.contact-banner {
		height: 289px;
		width: 100%;
		.banner {
			height: 100%;
			width: 100%;
			background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/pl/webpage_4/l5akolos/element_145/zdj-fotograf.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.footer {
	position: relative;
	background-image: url('https://szablon2.lewdesign.pl/files/dynamicContent/sites/jzq006/images/.CURRENT_LIB/2000_jzq006_img_1bc6cb525d1ed1a134f8ba75d94d0111.webp');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0px -1px 7px rgba(145, 145, 145, 1);
	z-index: 1000;

	.container {
		margin: 0 auto;
		padding: 30px 5px 20px;

		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.boxes {
				margin-bottom: 20px;
				text-align: center;
			}

			.img {
				width: 158px;
				height: 53px;
				background-image: url('https://szablon2.lewdesign.pl/lib/jzq006/logo-foto-gotowe-l4ntx942.svg');
				background-position: center;
				background-repeat: no-repeat;
			}
			.text-box {
				padding-bottom: 5px;
				.text {
					padding: 3px 0;
					font-size: 1.8rem;
					font-family: var(--lexen-font);
				}
			}

			.social-box {
				padding-bottom: 20px;
				.social-links {
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 30px;
					height: 30px;
					color: #fafafa;
					background-color: var(--light-black);
					border-radius: 50%;
				}
			}
		}
		.medium {
			display: none;
		}
		.large {
			display: none;
		}
		.footer-text {
			font-family: var(--open-font);
			font-size: 1.2rem;
			text-align: center;
			line-height: 14px;

			.text {
				color: var(--light-black);
				.link {
					color: var(--light-black);
					text-decoration: none;
				}
			}
		}
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
@keyframes showGalleryAndCarousel {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes animationArrow {
	from {
		opacity: 0;
		bottom: 200px;
	}

	to {
		opacity: 1;
		bottom: 0;
	}
}

@import './small';
@import './medium';
@import './large';
